#fullWidthSlider {
    width: 100%; /*Establece el ancho al 100% de su contenedor.*/
    height: 500px; /*Establece una altura fija de 500px.*/
}

.carousel-item, .carousel-item img {
    /*Se aplica tanto a los elementos del carrusel como a sus imágenes.*/
    width: 100%; /*Establece el ancho al 100%.*/
    height: 500px; /*Establece la altura*/
    object-fit: cover; /*Utiliza object-fit: cover para asegurar que las imágenes cubran toda el área sin distorsión.*/
}